/* This file is for your main application CSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
    display: none;
}

[x-cloak] {
    display: none !important;
}

@layer base {
    h1 {
        @apply text-3xl font-extrabold text-gray-900;
    }
    
    h2 {
        @apply text-2xl font-extrabold text-gray-900;
    }

    h3 {
        @apply text-xl font-extrabold text-gray-900;
    }

    a {
        @apply text-primary-600 hover:text-primary-500;
    }
}

@layer components {
    .error {
        @apply text-red-700;
    }

    .btn {
        @apply w-full max-w-xs flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium focus:outline-none focus:ring-2 focus:ring-offset-2;
    }

    .btn-primary {
        @apply btn text-white bg-primary-600 hover:bg-primary-700 focus:ring-primary-500;
    }

    .btn-secondary {
        @apply btn text-primary-600 border border-primary-600 hover:bg-primary-700 hover:text-white focus:ring-primary-500;
    }

    .btn-danger {
        @apply btn text-white bg-red-600 hover:bg-red-700 focus:ring-red-500;
    }

    .btn[disabled] {
        @apply cursor-not-allowed;
    }

    .container {
        @apply mx-auto w-full;
    }

    .container-xl {
        @apply container;
    }

    .container-md {
        @apply container max-w-screen-md;
    }
}
